@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

html {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Anonymous Pro', monospace;
    font-size: 1.2rem;
}

a {
    color: #10A0CF;
}

.margin {
    margin-top: 1.3rem;
}

.sidebar {
    float: left;
    margin-left: 2rem;
    margin-right: 1.2rem;
    height: 900px;
}

.sidebar ul {
    margin-left: -2rem;
    margin-bottom: 2rem;
}

.sidebar li::before {
    content: "~ ";
    color: #00ff00;
}

.sidebar li {
    list-style: none;
    margin-left: 2rem;
    margin-top: 0.7rem;
    font-style: italic;
}

.sidebar a {
    text-decoration: none;
}

.username {
    float: right;
    margin-right: 2rem;
    line-height: 0.9em;
    margin-top: -2.4rem;
    font-size: 0.8rem;
}

.username p {
    white-space: pre;
}

.infos {
    overflow: hidden;
    border-left: solid 0.2rem #10A0A0;
    padding-left: 2rem;
}

.infos ul {
    margin-bottom: 2rem;
}

.infos .title {
    text-decoration: underline;
    font-style: italic;
    margin-left: -2rem;
}

.infos li {
    margin-top: 1.3rem;
    list-style-type: none;
}

.infos .command::before {
    content: "$>";
    color: #00ff00;
    margin-right: 0.4rem;
}

.infos .result::before {
    content: "> ";
    color: #00ff00;
    margin-left: -1rem;
}

.infos .result {
    color: #10A0A0;
    margin-top: -0.5rem;
}

#skills ul {
    display: flex;
    text-align: center;
}

#skills ul li {
    list-style-type: none;
    border: solid 0.1rem #00ff00;
    padding: 0.3rem;
}

#skills ul li p {
    color: #ffffff;
    font-size: 0.9rem;
}

.infos ul li ul {
    padding: 0;
    color: #10A0A0;
}

.infos ul li li {
    margin-right: 1.3rem;
    margin-bottom: -0.3rem;
}

#projects li i {
    margin-right: 0.3rem;
}

#projects p.result {
    margin-bottom: -0.8rem;
}

#skills p.result {
    margin-bottom: -2.3rem;
}

